<html>
	<head>
		<title>The Gossip Project</title>
	</head>
	<body>
		<h1>... Site en construction ...</h1>
		<h2>Bienvenue à toi bel inconnu !</h2>>
		<p>La liste des potins arrive bientôt, tu peux en créer un en cliquant ici ===} <a href="/gossips/new/">clique pute</a> {===</p>
		
	</body>
</html>

