<html>
	<head>
		<title>Créer un potin</title>
	</head>
	<body>
		<h1>Balance ton potin !</h1>
		<p>Ajoute un potin via le formulaire ci-dessous</p>
		<form action='/gossips/new' method='POST'>
			Ton blase ici : <input type='text' name='gossip_author'/><br />
			Ton potin là : <input type='textarea' name='gossip_content'/>
			<input type='submit'/>
		</form>
	</body>
</html>

